= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :logo_image
    = f.file_field :logo_image
  .field
    = f.label :cover_image
    = f.file_field :cover_image
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :homepage_url
    = f.text_field :homepage_url
  .field
    = f.label :established_at
    = f.date_select :established_at
  .field
    = f.label :number_of_members
    = f.number_field :number_of_members
  .field
    = f.label :mail
    = f.text_field :mail
  .field
    = f.label :twitter
    = f.text_field :twitter
  .field
    = f.label :slideshare_url
    = f.text_field :slideshare_url
  .field
    = f.label :vine_url
    = f.text_field :vine_url
  .field
    = f.label :youtube_url
    = f.text_field :youtube_url
  .actions
    = f.submit 'Save'
