<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>シラバス</title>
<link href="fav.png" rel="shortcut icon">
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div class="header-top">
      <div class="container content">
        <span class="sub-title">求人情報とセットのプログラミング学習サイト</span>
        <span class="header-top-right">
          <a href=""><i class="icon-lightbulb"></i>使い方</a>
          <a href=""><i class="icon-question"></i>ヘルプ</a>
        </span>
      </div>
    </div>
    <div class="header container content">
      <p class="title">
        <a href="index.html">
        <%= image_tag "cy_logo.png"%>
        </a>
        <span class="summary">
          <a href="/companies"><i class="icon-building"></i>企業一覧</a>
          <a href=""><i class="icon-list"></i>シラバス一覧</a>
          <a href="<%= @company.id %>/edit"><i class="icon-pencil"></i>編集する</a>
        </span>
      </p>
      <div class="recruitment-staff">
        <i class="icon-user"></i>
        <a href="">
          採用担当者の方
        </a>
      </div>
      <div class="signup">
        <a href="https://docs.google.com/a/daraf.co.jp/forms/d/1lMjIzxXjQUj0xKsphSFXd_770gtjxeC9ACoMNAXBs2A/viewform" class="signup-btn" target="_blank"><i class="icon-user"></i>会員登録(無料)</a>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div class="container content">
      <div class="pankuzu">
        <a href="">トップ</a>
        <span class="dainari">></span>
        <a class="active">株式会社ダラフ</a>
      </div>
      <div  class="office-ex">
        <div class="company-name">
          <div class="logo">

            <%= image_tag @company.logo_image.to_s %>
          </div>
          <div class="name">
            <p class="bold"><%= @company.company_name %></p>
            <p class="url">
              <a href="http://<%= @company.homepage_url %>" target="_blank">http://daraf.co.jp</a>
            </p>
          </div>
        </div>
        <div class="establishment">
          <p class="bold">設立日</p>
          <p><%= @company.established_at %></p>
        </div>
        <div class="employees">
          <p class="bold">従業員数</p>
          <p><%= @company.number_of_members %></p>
        </div>
        <div class="contact-icon">
          <a>
            <%= image_tag "nophone.png" %>
          </a>
          <a href="mailto:<%= @company.mail %>" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="<%= @company.mail %>" id="contact-tool">
            <%= image_tag "mail.png" %>
          </a>
          <a href="https://facebook.com/cyllabus" data-placement="top" data-toggle="tooltip" rel="tooltip" data-original-title="/cyllabus" id="contact-tool" target="_blank">
            <%= image_tag "facebook.png" %>
          </a>
          <%= render "twitter" %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="office-image">
        <%= image_tag @company.cover_image.to_s %>

      </div>
      <div class="row">
        <div class="span9">
          <div class="curriculum">
            <div class="title-head">
              <h4>学習カリキュラム&求人情報一覧</h4>
            </div>
            <div class="curriculum-box">
              <a href="syllabus.html" target="_blank">
                <div class="box-left">
                  <h4>株式会社ダラフ Ruby on Rails プログラマー</h4>
                  <div class="situation">
                    <span class="recruiment">募集中</span>
                    <span class="officehour">オフィスアワーあり</span>
                    <span class="menter">メンターあり</span>
                  </div>
                  <div class="category">
                    カテゴリー
                    <span class="category-link">Git</span>
                    <span class="category-link">Ruby</span>
                    <span class="category-link">Rails</span>
                    <span class="category-link">JavaScript</span>
                    <span class="category-link">CoffeeScript</span>
                  </div>
                </div>
                <div class="box-right">
                  <%= image_tag "rubyonrails.png" %>
                </div>
                <div class="clear"></div>
              </a>
            </div>
          </div>

          <div class="tool">
            <div class="title-head">
              <h4>使用ツール</h4>
            </div>
            <div>
              <p class="blog">
              技術ブログ:
              <a href="http://tech.daraf.co.jp" target="_blank">
                http://tech.daraf.co.jp
              </a>
              </p>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                  <td class="table-title">サーバーフレームワーク</td>
                  <td>Ruby on Rails</td>
                  </tr>
                  <tr>
                  <td>ブラウザフレームワーク</td>
                  <td>Backbone.js</td>
                  </tr>
                  <tr>
                  <td>プラットフォーム</td>
                  <td>Windows Azure</td>
                  </tr>
                  <tr>
                  <td>OS</td>
                  <td>Cent OS 6.4</td>
                  </tr>
                  <tr>
                  <td>ウェブサーバー</td>
                  <td>Nginx(+ unicorn)</td>
                  </tr>
                  <tr>
                  <td>データベース</td>
                  <td>MySQL</td>
                  </tr>
                  <tr>
                  <td>アクセス解析</td>
                  <td>Google Analytics</td>
                  </tr>
                  <tr>
                  <td>パフォーマンス監視</td>
                  <td>NewRelic</td>
                  </tr>
                  <tr>
                  <td>バージョン管理</td>
                  <td>Git, Github</td>
                  </tr>
                  <tr>
                  <td>CI</td>
                  <td>Jenkins</td>
                  </tr>
                  <tr>
                  <td>タスク管理</td>
                  <td>Basecamp</td>
                  </tr>
                  <tr>
                  <td>チャット</td>
                  <td>Line, Facebookグループ, Hipchat</td>
                  </tr>
              </table>
            </div>
          </div>

          <div class="member">
            <div class="title-head">
              <h4>社員紹介</h4>
            </div>
            <div class="member-content">
              <div class="member-box" align="center">
                <%= image_tag "saiwaki.png" %>
                <div class="post-name">
                  <span class="post">代表</span>
                  <br>
                  <span class="name">斉脇 一志</span>
                </div>
              </div>
              <div class="member-box" align="center">
                <%= image_tag "ohata.png" %>
                <div class="post-name">
                  <span class="post">技術責任者</span>
                  <br>
                  <span class="name">大畠 健</span>
                </div>
              </div>
              <div class="member-box" align="center">
                <%= image_tag "keito.png" %>
                <div class="post-name">
                  <span class="post">デザイン責任者</span>
                  <br>
                  <span class="name">寺西 勁人</span>
                </div>
              </div>
              <div class="member-box" align="center">
                <%= image_tag "kazuki.png" %>
                <div class="post-name">
                  <span class="post">プログラマー</span>
                  <br>
                  <span class="name">高橋 一貴</span>
                </div>
              </div>
              <div class="member-box" align="center">
                <%= image_tag "taneichi.png" %>
                <div class="post-name">
                  <span class="post">プログラマー</span>
                  <br>
                  <span class="name">種市 隼兵</span>
                </div>
              </div>
              <div class="member-box" align="center">
                <%= image_tag "soya.png" %>
                <div class="post-name">
                  <span class="post">営業責任者</span>
                  <br>
                  <span class="name">征矢 直記</span>
                </div>
              </div>
              <div class="member-box" align="center">
                <%= image_tag "nobu.png" %>
                <div class="post-name">
                  <span class="post">営業</span>
                  <br>
                  <span class="name">髙橋 信行</span>
                </div>
              </div>
            </div>
          </div>

          <div class="business">
            <div class="title-head">
              <h4>事業内容</h4>
            </div>

            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <div align="center" class="slideshare">
                    <%= render "slideshare" %>
                  </div>
                </div>
                <div class="item">
                  <div align="center" class="slideshare">
                    <%= render "youtube" %>
                  </div>
                </div>

              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>

          <div class="location">
            <div class="title-head">
              <h4>勤務地</h4>
            </div>
            <p class="address">
              <%= @company.address %>
            </p>
            <%= gmaps4rails(@json) %>

          </div>
        </div>
        <div class="span3">
          <div class="vine">
            <div class="title-head">
              <h4>Vine</h4>
            </div>
            <div class="vine-content" align="center">
              <%= render "vine" %>
            </div>
          </div>
          <div class="facebook-album">
            <div class="title-head">
              <h4>Facebookアルバム</h4>
            </div>
            <div class="facebook-album-content" align="center">
              <a href="#myModal1" role="button" data-toggle="modal">
                <%= image_tag "album/album1.jpg" %>
              </a>
              <a href="#myModal2" role="button" data-toggle="modal">
                <%= image_tag "album/album2.jpg" %>
              </a>
              <a href="#myModal3" role="button" data-toggle="modal">
                <%= image_tag "album/album3.jpg" %>
              </a>
              <a href="#myModal4" role="button" data-toggle="modal">
                <%= image_tag "album/album4.jpg" %>
              </a>
              <a href="#myModal5" role="button" data-toggle="modal">
                <%= image_tag "album/album5.jpg" %>
              </a>
              <a href="#myModal6" role="button" data-toggle="modal">
                <%= image_tag "album/album6.jpg"%>
              </a>
              <a href="#myModal7" role="button" data-toggle="modal"><%= image_tag "album/album7.jpg"%></a>
              <a href="#myModal8" role="button" data-toggle="modal"><%= image_tag "album/album8.jpg"%></a>
              <a href="#myModal9" role="button" data-toggle="modal"><%= image_tag "album/album9.jpg"%></a>
              <a href="#myModal10" role="button" data-toggle="modal"><%= image_tag "album/album10.jpg" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container content">
      <div class="footer-content">
        <div class="footer-link">
          <a href="">使い方</a>
        </div>
        <div class="footer-link">
          <a href="">ヘルプ</a>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-link">
          <a href="">ブログ</a>
        </div>
        <div class="footer-link">
          <a href="">Facebook</a>
        </div>
        <div class="footer-link">
          <a href="">Twitter</a>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-link">
          <a href="">運営会社</a>
        </div>
        <div class="footer-link">
          <a href="">利用規約</a>
        </div>
        <div class="footer-link">
          <a href="">プライバシーポリシー</a>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-link">
          <a href="">お問い合わせ</a>
        </div>
      </div>
      <div class="copyright" align="center">
        Copyright © 2013 シラバス All rights reserved.
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel1" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel2" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="active item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel3" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="active item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel3" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal4" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel4" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="active item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel4" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel4" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal5" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel5" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="active item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel5" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel5" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal6" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel6" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="active item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel6" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel6" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal7" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel7" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="active item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel7" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel7" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel8" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="active item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel8" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel8" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal9" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel9" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="active item"><%= image_tag "album/album9.jpg"%></div>
        <div class="item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel9" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel9" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div id="myModal10" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Facebookアルバム</h4>
  </div>
  <div class="modal-body">
    <div id="myCarousel10" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item"><%= image_tag "album/album1.jpg"%></div>
        <div class="item"><%= image_tag "album/album2.jpg"%></div>
        <div class="item"><%= image_tag "album/album3.jpg"%></div>
        <div class="item"><%= image_tag "album/album4.jpg"%></div>
        <div class="item"><%= image_tag "album/album5.jpg"%></div>
        <div class="item"><%= image_tag "album/album6.jpg"%></div>
        <div class="item"><%= image_tag "album/album7.jpg"%></div>
        <div class="item"><%= image_tag "album/album8.jpg"%></div>
        <div class="item"><%= image_tag "album/album9.jpg"%></div>
        <div class="active item"><%= image_tag "album/album10.jpg" %></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel10" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel10" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
</body>
</html>